@charset "UTF-8";
body, html{ height: 100%; }
p {
  font-weight:bold;
  padding-top:10px;
}
body {
  font: 16px "Droid Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
}
.navbar-brand {
  font-family: 'Pirata One', cursive;
  font-size: 32px;
}
#files { margin-top: 20px;}
.fileinput-button { margin-bottom: 50px; }
.btn-norm { width: 114px; }
.btn-no-outline { outline: 5px auto; }
.dropdown-menu li { margin-left: 5px; }
.dropdown-menu { min-width: 120px; }
#uploadCase { margin-bottom: 0px; }
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
.php-file-tree A {
  color: #000000;
  text-decoration: none;
}
.php-file-tree A:hover { color: #666666; }
.php-file-tree .open { font-style: italic; }
.php-file-tree .closed { font-style: normal; }
.php-file-tree .pft-directory { list-style-image: url(../images/directory.png); }
.php-file-tree LI.pft-file { list-style-image: url(../images/file.png); }
#wrapper { width: 100%; }
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
}
@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
.navbar-top-links { margin-right: 0; }
.navbar-top-links li { display: inline-block; }
.navbar-top-links li:last-child { margin-right: 15px; }
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li { display: block; }
.navbar-top-links .dropdown-menu li:last-child { margin-right: 0; }
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div { white-space: normal; }
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages { margin-left: 5px; }
.navbar-top-links .dropdown-tasks { margin-left: -59px; }
.navbar-top-links .dropdown-alerts { margin-left: -123px; }
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
@media(min-width:768px) {
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline { color: #428bca; }
.btn-success.btn-outline { color: #5cb85c; }
.btn-info.btn-outline { color: #5bc0de; }
.btn-warning.btn-outline { color: #f0ad4e; }
.btn-danger.btn-outline { color: #d9534f; }
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover { color: #fff; }
.panel .slidedown .glyphicon { margin-right: 5px; }
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.huge { font-size: 30px; }
.panel-green { border-color: #5cb85c; }
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-green a { color: #5cb85c; }
.panel-green a:hover { color: #3d8b3d; }
.panel-red { border-color: #d9534f; }
.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
.panel-red a { color: #d9534f; }
.panel-red a:hover { color: #b52b27; }
.panel-yellow { border-color: #f0ad4e; }
.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-yellow a { color: #f0ad4e; }
.panel-yellow a:hover { color: #df8a13; }
.panel-grey { border-color: #777777; }
.panel-grey .panel-heading {
  border-color: #777777;
  color: #fff;
  background-color: #777777;
}
.panel-grey a { color: #777777; }
.panel-grey a:hover { color: #777777; }

.glyphicon-custom { padding-right: 10px; }
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.ttf') format('truetype');
}
@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  src: local('Pirata One'), local('PirataOne-Regular'), url('../fonts/PirataOne.woff2') format('woff2');
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader.gif) center no-repeat #fff;
}
.generated {
  font-style: italic;
  font-size: 14px;
}
#purgeLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar-right { padding-top: 0px; }
.float {
    background: white;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0;
    margin: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
}
.contents { margin-top: 30px; }
.results {
    padding-bottom: 20px;
    font-family: monospace;
    font-size: small;
    white-space: pre;
}
